html, body {
	background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin-inline: auto;
}

.mainDetails {
	display: flex;
    align-items: center;
    margin: 50px 0px 30px 0px;
    padding-bottom: 20px;
    border-bottom: 4px solid #cf8a05;
}

.mainDetails h1, h2#a{
	margin: 0px;
}

.mainDetails #contactDetails{
	margin-inline-start: auto;
	color: #181818;
}

.mainDetails #contactDetails ul {
	list-style-type: none;
}

#headshot {
	margin: 0px 0px 0px 50px;
}

figure#headshot img {
	width: 80.5%;
    height: 100%;
	border-radius: 60%;
}

h2 {
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}

#a {
	margin: 0px;
}


.name {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.sectionTitle {
	color: #cf8a05;
	font-family: 'Rokkitt', serif;
}

p {
	color: #181818;
	width: 100%;
    font-size: 20px;
    margin: 0px;
}

.keySkills {
	column-count: 3;
	padding: 0px;
}

.keySkills li {
	list-style-type: none;
}

#mainArea {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	width: 700px;
}

section {
	display: flex;
	flex-direction: row;
	border-top: #dedede solid 2px;
	margin-bottom: 10px;
}

.sectionTitle {
	width: 200px;
}

.sectionContent {
	width: 500px;
}

.teste-mae {
	border-top: none;
}

article#teste {
    display: flex;
}

article#teste h1{
	margin: 0px;
}

p.subDetails {
    color: #444444;
	margin-bottom: 5px;
}