html, body {
	background-color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
	width: auto;
	display: inline-block;
}

.clear {
	clear: both;
}

figure#headshot {
	width: 12.5%;
	float: left;
	margin: 100px 0px 0px 200px;
}

figure#headshot img {
    width: 70%;
    height: 100%;
	border-radius: 60%;
}

hr {
	width: 80%;
	color: #cf8a05;
	border: 2px solid;
}

hr.a{
	width: 73%;
	color: #dedede;
	border: 1px solid;
}

h2 {
	margin-left: 100px;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}

h2#a {
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.name {
	float: left;
	margin: 100px 0px 0px 0px;
	line-height: 10px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#contactDetails {
	float: right;
	margin-top: 100px;
	margin-right: 200px;
	color: #181818;
}

ul.demo {
	list-style-type: none;
}


.sectionTitle {
	float: left;
	font-size: auto;
	color: #cf8a05;
	margin-left: 158px;
	font-family: 'Rokkitt', serif;
}

.sectionTitle h1 {
	margin-left: 12px;
}


p {
	width: 65%;
	font-size: 20px;
	margin-left: 100px;
}

.keySkills {
	column-count: 3;
	padding-left: 100px;
	padding-right: 500px;
}

.keySkills li {
	width: max-content;
	list-style-type: none;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

